*, *::before, *::after {
  box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}
main {
    margin: 0 auto;
    max-width: 34.375rem;
    width: 100%;
    position: relative;
    border: 1px solid var(--gray-300, #D1D5DB);
    height: 100vh;
}
.header {
    width: 100%;
    height: 13rem;
    /* margin: 0 auto; */
    padding: 0 3.5em;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url("https://images.unsplash.com/photo-1628432136678-43ff9be34064?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=3063");
    background-position: 0 -9.893rem;
    background-size: 100% 423.007%;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header > h1 {
    font-size: 2.67469rem;

}
.header > p {
    font-size: 0.875rem;

}

.search-bar {
    position: absolute;
    top: 11.8125rem;
    left: 2.75rem;
    right: 2.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.81em;
    border-radius: 0.375rem;
    border: 1px solid var(--gray-300, #D1D5DB);
    background: var(--white, #FFF);
    gap: 0.5em;
    /* shadow/sm */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#search-input {
    color: var(--gray-500, #6B7280);
    border: none;
    /* text-sm/leading-5/font-medium */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem; /* 142.857% */
    width: 100%;
}

#search-input:focus {
    outline: none;
}
input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
    color: var(--gray-500, #6B7280);
    cursor: pointer;
    }


#search-btn {
    border-radius: 0 0.375rem 0.375rem 0;
    border: none;
    border-left: 1px solid var(--gray-300, #D1D5DB);
    margin-left: auto;
    background: var(--gray-50, #F9FAFB);
    display: flex;
    width: 7.5rem;
    padding: 0.5625rem 0.6875rem 0.5625rem 1.0625rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container {
    position: absolute;
    top: 26.25rem;
    left: 12.56rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #DFDDDD;
    text-align: center;
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.25rem; /* 111.111% */
}
.container > p {
    margin-top: 0.5em;
}